# ===========================
# Default Collab Ignore Rules
# ===========================

# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# Unity generated
# ===============
[Oo]bj/
Library/
[Bb]uild
sysinfo.txt
*.stackdump
[Tt]emp
.vs/Chess81 Git/v15/Server/sqlite3/storage.ide-wal
.vs/Chess81 Git/v15/Server/sqlite3/storage.ide-shm
.vs/Chess81 Git/v15/Server/sqlite3/storage.ide
.vs/Chess81 Git/v15/Server/sqlite3/db.lock
